div{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: bisque;
}

body{
    background-image: url("Página 2\Imágenes\fondo.jpg");
}

nav{
    border: 5px solid crimson;
    border-radius: 20px;
    border-style: dashed;
    margin-right: 20px;
    width: 15%;
}

section{
    border: 5px solid rgb(44, 171, 103);
    border-radius: 10px;
    border-style: dotted;
    margin-right: 20px;
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

#div_grande{
    display: flex;
}

h3{
    background-color: blue;
    color: white;
}